.DS_Store
.idea
.npm
# Optional eslint cache
.eslintcache
# dotenv environment variables file
.env
.env.test
# Dependency directories
/node_modules
jspm_packages/

/OMC-JSON/Docs/.obsidian
/Backup/Vocabulary
/Backup/WIP
/Backup
